*{
    cursor: none;
}
body{
    background: #21252b;
    overflow: hidden;
}
.inner__cursor{
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a6fff2;
}
.outer__cursor2{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #90f2ff;
    z-index: 1;
    transition-duration: 350ms;
    transition-timing-function: ease-out;
}
.outer__{
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    border: 2px solid #74f9ff;
    z-index: 1;
    transition-duration: 480ms;
    transition-timing-function: ease-out;
}